*,html{
	padding:0;
}

.header{
	background: #aabb55;
	height: 40px;
	max-height: 10%;
	float: left;
}
.header .logo{
	background: #55bbaa;
}

.header ul{
	text-decoration: none;
}

.header ul li{
	text-decoration: none;
	float: left;
	width: 20%;
}
